<article id="post-<%= post.id %>" <%= post_attributes(post) %>>
  <% if post.show_header %>
  <header>
    <h1><%= post.title %></h1>
    <% if post.date_published %>
    <time datetime="<%= post.date_published.to_s(:db) %>" pubdate><%= post.date_published.to_formatted_s(:post_title)  %></time>
    <% end %>
  </header>
  <% end %>

  <% post.post_elements.each do |post_element| %>
  <%= render_post_element(post_element) %>
  <% end %>

  <%= render_shadows(post) %>
</article>
