<article id="post-<%= post.id %>" <%= post_attributes(post) %>>
  <% if post.show_header %>
  <header>
    <h1><%= post.title %></h1>
    <time datetime="<%= post.date_published.to_s(:db) %>" pubdate><%= post.date_published.to_formatted_s(:post_title)  %></time>
  </header>
  <% end %>

  <% post.post_elements.each do |post_element| %>
  <%= render_post_element(post_element) %>
  <% end %>

<!--
<% if false %>
  <% if post.is_quote? %>
  <% for quote in post.quotes %>
  <figure <%= quote_class_and_style(quote) %>>
    <blockquote><%= '"' unless quote.source.blank? %><%= quote.quote %><%= '"' unless quote.source.blank? %></blockquote>
    <% unless quote.source.blank? %><figcaption>&nbsp;-&nbsp;<%= quote.source %></figcaption><% end %>
    </figure>
  <% end %>
  <% end %>

  <% if post.body %>
  <div class="body"><%= markdown(post.body) %></div>
  <% end %>

  <% unless post.videos.empty? %>
  <div class="videos <%= post.style %>">
    <% post.videos.order(:position).each do |video| %>
    <video src="http://www.youtube.com/embed/<%= video.video_id %>?autohide=1&controls=0&modestbranding=1&rel=0&showinfo=0&fs=1"></video>
    <% end %>
  </div>
  <% end %>

  <% unless post.images.empty? %>
  <div class="images">
    <% post.images.each do |image| %><a href="#" data-full-size-url="<%= image.url %>" <%= image_class_and_style(image) %>><%= image_tag(image.thumbnail_url) %></a><% end %>
  </div>
  <% end %>
<% end %>
-->

</article>
