<article id="post-<%= post.id %>" <%= post_class_and_style(post) %>>
  <header>
    <% if post.show_header %>
    <h1><%= post.title %></h1>
    <time datetime="<%= post.date_published.to_s(:db) %>" pubdate><%= post.date_published.to_formatted_s(:post_title)  %></time>
    <% end %>
  </header>

  <% if post.is_quote? %>
  <% for quote in post.quotes %>
  <figure <%= quote_class_and_style(quote) %>>
    <blockquote><%= '"' unless quote.source.blank? %><%= quote.quote %><%= '"' unless quote.source.blank? %></blockquote>
    <% unless quote.source.blank? %><figcaption>&nbsp;-&nbsp;<%= quote.source %></figcaption><% end %>
    </figure>
  <% end %>
  <% end %>

  <% if post.is_time_lapse? %>
  <div class="body">
    <% post.time_lapse_posts.each do |previous_post| %>
    <div class="time-lapse-body" id="post-<%= post.id %>-<%= previous_post.id %>-body"><%= markdown(previous_post.body) %></div>
    <% end %>
  </div>

  <% elsif post.body %>
  <div class="body"><%= markdown(post.body) %></div>
  <% end %>

  <% unless post.videos.empty? %>
  <div class="videos <%= post.style %>">
    <% post.videos.order(:position).each do |video| %>
    <video src="http://www.youtube.com/embed/<%= video.video_id %>?autohide=1&controls=0&modestbranding=1&rel=0&showinfo=0&fs=1"></video>
    <% end %>
  </div>
  <% end %>

  <% unless post.images.empty? %>
  <div class="images">
    <% post.images.each do |image| %>
    <a href="#" data-full-size-url="<%= image.url %>"><%= image_tag(image.thumbnail_url, data: {body_id: "post-#{post.id}-#{image.post_id}-body"}) %></a>
    <% end %>
  </div>
  <% end %>

</article>
