<% if @site.site_style %>
<% content_for :head do %>

<%= raw(@site.site_style.title_font_data[:font_code]) if @site.site_style.title_font_data %>
<%= raw(@site.site_style.header_font_data[:font_code]) if @site.site_style.header_font_data %>
<%= raw(@site.site_style.body_font_data[:font_code]) if @site.site_style.body_font_data %>

<style>

  body {
  <%= "color: #{@site.site_style.font_color};" if @site.site_style.font_color %>
  }

  <% if @site.site_style.link_color %>
  a {color: <%= @site.site_style.link_color %>;}
  <% end %>

  <% if @site.site_style.link_hover_color %>
  a:hover {color: <%= @site.site_style.link_hover_color %>;}
  <% end %>

  <% if @site.site_style.body_font_data %>
  p { font-family: <%= raw(@site.site_style.body_font_data[:font_family]) %>}
  <% end %>

  <% if @site.site_style.header_font_data %>
  h1, h2, h3, h4, h5, h6 { font-family: <%= raw(@site.site_style.header_font_data[:font_family]) %>}
  <% end %>

  <% if @site.site_style.title_font_data %>
  article.title { font-family: <%= raw(@site.site_style.title_font_data[:font_family]) %>}
  <% end %>

</style>
<% end %>
<% end %>

<% skip_to_cycle(@space_of_last_post, spaces, "space") if @space_of_last_post %>

<% if @site.show_nav %>
<nav>
  <ul id="posts-nav">
    <%= render partial: 'post_nav', collection: @posts, as: :post  %>
    <li id="nav-post-loading" style="display:none">
      <a class="bullet">&#8226;</a>
    </li>
  </ul>
</nav>
<% end %>

<section id="posts">
  <%= render(@site.header_post) if @site.header_post %>

  <%= render(@posts) %>
</section>
