<header id="main">
  <hgroup>
    <h1>Lijen's Blog</h1>
    <h2>A place on the web for all my stuff...</h2>
  </hgroup>
</header>

<nav>
  <ul>
    <% for post in @posts %>
    <li id="nav-post-<%= post.id %>">
      <a href="#post-<%= post.id %>" class="bullet"><%= post.date_published.to_formatted_s(:nav)  %></a>
      <a href="#" class="title"><%= post.title %></a>
    </li>
    <% end %>
    <li id="nav-post-loading" style="display:none">
      <a class="bullet">&#8226;</a>
    </li>
  </ul>
</nav>

<section>
  <%= render(@posts) %>
</section>
