<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=no' />
    <link rel="alternate" type="application/atom+xml" title="My Weblog feed" href="/feed/" />
    <link href='http://fonts.googleapis.com/css?family=Arbutus+Slab|Londrina+Outline|Francois+One|Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>

    <title><%= @site.name %></title>
    <%= stylesheet_link_tag "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= javascript_include_tag "jquery.transit.js" %>
    <%= javascript_include_tag "jquery.viewport.mini.js" %>
    <%= javascript_include_tag "jquery.overlaps.js" %>
    <%= csrf_meta_tags %>

    <%= yield :head %>
  </head>

  <%= content_tag :body, data: {site_id: @site.id, col_width: Site::COL_WIDTH, gutter_width: Site::GUTTER_WIDTH} do || %>
  <%= yield %>
  <% end %>

  <footer>
  </footer>

</html>
